server:
  port: 8081
spring:
  config:
    import: classpath:datasource.yml,kafka.yml
  application:
    name: pizzeria-service
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true